<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/TestNG/TestNG-TestCases">
        <classes>
            <class name="fromXML.TestNGEx1">
            </class>
            <class name="fromXML.TestNGEx2">
            </class>
        </classes>
    </test>
</suite>